<% if resource.errors.present? %>
  <div>
    <div class="alert alert-danger">
      <%= t('.header', count: resource.errors.count) %>:
    </div>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
