<h1>Вопрос: <%= @answer.question.body %></h1>

<p>
  <b>Ответ:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Правильность ответа:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Вернуться к вопросу', admin_question_path(@answer.question) %>
