<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<td><%= button_to 'Начать прохождение', start_test_path(@test) %></td>

<p>
  <%= link_to 'Вернуться с списку тестов', tests_path %>
</p>
